<% if logged_in? %>
  <div class="row">
    
    <aside class="col-md-3">
      <section class="user_info">
        <span><%= profile_picture_for(current_user, size: :profile) %></span>
        <h1><%= current_user.name %></h1>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <span><%= link_to "view my profile", current_user, :class => 'btn btn-default btn-md' %></span>
      </section>

      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    
    <div class="col-md-5">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Feed</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li id="post-toggle" class="active"><a>Posts</a></li>
            <li id="workout-toggle" class="active"><a>Workouts</a></li> 
            <li id="meal-toggle" class="active"><a>Meals</a></li> 
            <li id="all-toggle" class="active"><a>All</a></li>
          </ul>
        </div>
      </nav>
      
      <% if @feed_items.any? %>
        <ol class="posts">
          <%= render @feed_items %>
        </ol>
        
        <%= will_paginate @feed_items %>
        
      <% else %>
        <div class="startinfo">
          <h3>How to get started:</h3>
          <ol>
            <li>Post a new workout, meal, or anything else!</li>
            <li>Browse or searchfor other users from the menu on the left.</li>
            <li>Use the trending tags or search for other content.</li>
            <li>Get FIT!</li>
          </ol>
        </div>
      <% end %>
        
      
    </div>
    <div class="col-md-3">
      <div id="tag_cloud">
        <h4>All Trending Tags:</h4>
        <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
      <section class="search">
		    <%= render 'shared/search_feed' %>
	    </section>

    </div>
  </div>
  
  
<% else %>
<div class="center jumbotron">
  <h1>GymBull</h1>
  <h2>A Culture of Fitness</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="container">
  <h2>Most Recent GymBull Activity</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= render 'shared/feed' %>
    </div>
  </div>
  
</div>

<% end %>

<script>
$(document).ready(function(){

  $("#all-toggle").click(function(){
      $(".post").show();
      $(".workout").show();
      $(".meal").show();
      $("#post-toggle, #workout-toggle, #meal-toggle, #all-toggle").addClass("active");
  });

  $("#post-toggle").click(function(){
      $(".post").toggle();
      $("#post-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
  $("#workout-toggle").click(function(){
      $(".workout").toggle();
      $("#workout-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
  $("#meal-toggle").click(function(){
      $(".meal").toggle();
      $("#meal-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
});
</script>