<% if logged_in? %>
  <div class="row">
    
    <div class="col-md-1">
      <%= render 'layouts/header' %>
    </div>

    <aside class="col-md-3 panel panel-default">
      <section class="user_info">
        <span><%= profile_picture_for(current_user, size: :profile) %></span>
        <h1><%= current_user.name %></h1>
        <div class="stats">
          <%= render 'shared/stats' %>
        </div>
        <span><%= link_to "view my profile", current_user, :class => 'btn btn-default btn-md' %></span>
      </section>
      <div id="activityfeed">
        <%= render 'activities/user_activities' %>
      </div>
    </aside>
    
    <div class="col-md-5">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Bullpen</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li id="post-toggle" class="active"><a>Posts</a></li>
            <li id="workout-toggle" class="active"><a>Workouts</a></li> 
            <li id="meal-toggle" class="active"><a>Meals</a></li> 
            <li id="all-toggle" class="active"><a>All</a></li>
          </ul>
        </div>
      </nav>
      
      <% if @feed_items.any? %>
        <ol class="posts">
          <%= render @feed_items %>
        </ol>
        
        <%= will_paginate @feed_items %>
        
      <% else %>
        <div class="startinfo panel panel-default">
          <h3>How to get started:</h3>
          <ol>
            <li>Post a new workout, meal, or anything else!</li>
            <li>Find other <%= link_to 'users', users_path %> or 
            <%= link_to 'gyms', gyms_path %> and follow them.</li> 
            <li>Use the trending <%= link_to 'tags', alltags_path %> or search for other content.</li>
            <li>Get FIT!</li>
          </ol>
        </div>
      <% end %>
    </div>
    
    <div class="col-md-3 panel panel-default">
      
      <section class="post_form ">
        <%= render 'shared/post_form' %>
      </section>

      <div id="tag_cloud">
        <h4>Trending Tags</h4>
        <% tag_cloud Post.tag_counts.limit(25), %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %></br>
        <%= link_to "All Tags", alltags_path %>
      </div>
      <section class="search panel-body">
		    <%= render 'shared/search_feed' %>
	    </section>
    </div>

  </div>
  
  
<% else %>
  <div class="row">
    
    <div class="col-md-1">
      <%= render 'layouts/header' %>
    </div>
 
    <div class="col-md-11 splash panel panel-default">
      <div class="col-md-6 center">
        <h1>GYMBULL</h1>
        <h2>A Culture of Fitness Without the Bullshit</h2>
        <%= image_tag "barbell-clipart.jpg" %>
      </div>
      <div class="col-md-5">
        <%= render 'sessions/login' %>
      </div>
      <div class="col-md-10 col-md-offset-1 center">
        <h4>Search, browse, and save exercise and nutrition information from all around to world</h4>
        <h2>Most Recent Activity</h2>
      </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= render 'shared/feed' %>
          </div>
        </div>
      </div>
      
    </div>
<% end %>

<script>
$(document).ready(function(){

  $("#all-toggle").click(function(){
      $(".post").show();
      $(".workout").show();
      $(".meal").show();
      $("#post-toggle, #workout-toggle, #meal-toggle, #all-toggle").addClass("active");
  });

  $("#post-toggle").click(function(){
      $(".post").toggle();
      $("#post-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
  $("#workout-toggle").click(function(){
      $(".workout").toggle();
      $("#workout-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
  $("#meal-toggle").click(function(){
      $(".meal").toggle();
      $("#meal-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
});
</script>