<li>
  <span class="user">
    <%= tiny_picture_for(comment.user, size: :tiny) %>
    <%= link_to comment.user.name, comment.user %></span>
	
	<div class="comment-content">
		<%= simple_format(comment.content) %>
	</div>
	
	<div class="row">
    <span class="timestamp">
			<%= time_ago_in_words(comment.created_at) %> ago
			<% if current_user?(comment.user) %>
				<%= link_to post_comment_path(comment.post, comment), method: :delete do %>
					<i class="fa fa-trash-o"></i>
				<% end %>
			<% end %>
</li>
