<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <button class="form-toggle btn new-gym">Create a User instead</button></br>
  
  <%= f.hidden_field :account_type, :value => "gym" %>

  <%= f.label :name, :class => "required"  %>
    <span class="has-tooltip" data-toggle="tooltip" title="Only letters, numbers, 
                                        underscores, and dashes are allowed">
      <span class="glyphicon glyphicon-info-sign"></span>
    </span>
  <%= f.text_field :name, class: 'form-control', :required => true  %>

  <%= f.label :email, :class => "required"  %>
  <%= f.email_field :email, class: 'form-control', :required => true  %>
  
  <%= f.label :focus %>
  <%= f.select :focus, [
  	['General Purpose','General Purpose'],
  	['Aerobic','Aerobic'],
  	['Athletic Club','Athletic Club'],
  	['Boot Camp','Boot Camp'],
  	['Crossfit','Crossfit'],
  	['Dance','Dance'],
  	['Gymnastics','Gymnastics'],
  	['Martial Arts','Martial Arts'],
  	['Meal Service','Meal Service'],
  	['Olympic Weightlifting','Olympic Weightlifting'],
  	['Personal Training','Personal Training'],
  	['Pilates','Pilates'],
  	['Spinning','Spinning'],
  	['Weight Loss','Weight Loss'],
  	['Yoga','Yoga'],
  	['Other','Other']
  	], class: 'form-control' %>
  	
  <%= f.label :picture %>
  <%= f.file_field :picture %>
  	
  <%= f.label :location %>
  <%= f.text_field :location, class: 'form-control' %>
  
  <%= f.label :about %>
  <%= f.text_area :about, size: "24x6", class: 'form-control' %>
  
  <%= f.label :hours %>
  <%= f.text_area :hours, size: "24x6", class: 'form-control' %>
  
  <%= f.label :pricing %>
  <%= f.text_area :pricing, size: "24x6", class: 'form-control' %>
  
  <%= f.label :equipment %>
  <%= f.text_area :equipment, size: "24x6", class: 'form-control' %>
  
  <%= f.label :classes %>
  <%= f.text_area :classes, size: "24x6", class: 'form-control' %>

  <%= f.label :password, :class => "required"  %> 
    <span class="has-tooltip" data-toggle="tooltip" title="Must contain: at least 8 characters, 
                                                          at least 1 uppercase, 1 lowercase, and 1 number">
      <span class="glyphicon glyphicon-info-sign"></span>
    </span>
  <%= f.password_field :password, class: 'form-control', :required => true%>

  <%= f.label :password_confirmation, "Confirmation", :class => "required"  %>
  <%= f.password_field :password_confirmation, class: 'form-control', :required => true  %>
  
  <%= f.submit "Create this gym", class: "btn btn-primary" %>
<% end %>

<script>
  $(document).ready(function() {
    $('.has-tooltip').tooltip();
  });
</script>