<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.hidden_field :account_type, :value => "user" %>

  <%= f.label :username %>
    <span class="has-tooltip" data-toggle="tooltip" title="Only letters, numbers, 
                                        underscores, and dashes are allowed">
      <span class="glyphicon glyphicon-info-sign"></span>
    </span>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  
  <%= f.label :password %> 
    <span class="has-tooltip" data-toggle="tooltip" title="Must contain: at least 8 characters, 
                                        at least 1 uppercase, 1 lowercase, and 1 number">
      <span class="glyphicon glyphicon-info-sign"></span>
    </span>
  <%= f.password_field :password, class: 'form-control'%>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>

<script>
  $(document).ready(function() {
    $('.has-tooltip').tooltip();
  });
</script>