<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="new-user">
    <p>Are you a personal trainer, or own a gym or studio?</p>
    <button class="form-toggle btn new-user">Create a Gym instead</button></br>
  </div>

  <%= f.hidden_field :account_type, :value => "user" %>

  <%= f.label :username, :class => "required"  %>
    <span class="has-tooltip" data-toggle="tooltip" title="Must contain at least 4 characters; only letters, numbers, 
                                        underscores, and dashes are allowed">
      <span class="glyphicon glyphicon-info-sign"></span>
    </span>
  <%= f.text_field :name, class: 'form-control', :required => true  %>

  <%= f.label :email, :class => "required"  %> <span class="email_option"><%= f.check_box :email_option, {}, true %><%= f.label "Show email on Profile" %></span>
  <%= f.email_field :email, class: 'form-control', :required => true  %>
  
  <%= f.label :password, :class => "required"  %> 
    <span class="has-tooltip" data-toggle="tooltip" title="Must contain: at least 8 characters, 
                                        at least 1 uppercase, 1 lowercase, and 1 number">
      <span class="glyphicon glyphicon-info-sign"></span>
    </span>
  <%= f.password_field :password, class: 'form-control', :required => true %>

  <%= f.label :password_confirmation, "Confirmation", :class => "required"  %>
  <%= f.password_field :password_confirmation, class: 'form-control', :required => true  %>

  <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>

<script>
  $(document).ready(function() {
    $('.has-tooltip').tooltip();
  });
</script>