<%= search_form_for @search do |f| %>
	<div class="field">
		<%= f.label :name_cont, "Search Users" %><%= link_to "Clear", 
			url_for(controller: "users", action: "index_users"), class: "btn" %>
		<%= f.search_field :name_cont, placeholder: "Name contains" %>
	</div>
	<div class="actions"><%= f.submit "Search", class: "btn" %></div>
<% end %>