<%= search_form_for @search do |f| %>
	<div class="field">
		<h3>Search</h3>
		<%= f.label :name_cont %>
		<%= f.search_field :name_cont, placeholder: "Name contains" %>
	</div>
	<div class="actions">
		<%= f.submit "Search", class: "btn btn-primary" %>
		<%= link_to "Clear", 
			url_for(controller: "users", action: "index_users"), class: "btn btn-default" %>
	</div>
<% end %>