<%= search_form_for @search, url: search_users_path,
                        html: { method: :post } do |f| %>
	<div class="field">
		<h3>Search</h3>
		<%= f.label :name_cont %>
		<%= f.search_field :name_cont, placeholder: "Name contains" %>
		<%= f.label :location_cont %>
  	<%= f.search_field :location_cont, placeholder: "Location contains"  %>
  	<%= f.label :focus %>
	  <%= f.select :focus_eq, options_for_select([
	  	['Select', ''],
	  	['General Purpose'],
	  	['Aerobic'],
	  	['Athletic Club'],
	  	['Boot Camp'],
	  	['Crossfit'],
	  	['Dance'],
	  	['Gymnastics'],
	  	['Martial Arts'],
	  	['Meal Service'],
	  	['Olympic Weightlifting'],
	  	['Personal Training'],
	  	['Pilates'],
	  	['Spinning'],
	  	['Weight Loss'],
	  	['Yoga'],
	  	['Other']
	  	]) %>
	</div>
	<div class="actions">
		<%= f.submit "Search", class: "btn btn-primary" %>
		<%= link_to "Clear", 
			url_for(controller: "users", action: "index_gyms"), class: "btn btn-default" %>
	</div>
<% end %>