<li class="user-<%= user.id %>">
  <div class="name-line">
    <%= tiny_picture_for(user, size: :tiny) %>
    <%= link_to user.name, user, :class => "username" %>
    <!-- Follow forms goes here, also I really wish that I could 
    partital this out-->
    
    <% unless current_user?(user)%>
      <div id="follow_form">
      <% if current_user.following?(user) %>
        <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
                     html: { method: :delete }, :remote => true) do |f| %>
          <%= f.submit "Unfollow", class: "btn btn-xs follow" %>
        <% end %>
      <% else %>
        <%= form_for(current_user.active_relationships.build, :remote => true) do |f| %>
          <div><%= hidden_field_tag :followed_id, user.id %></div>
          <%= f.submit "Follow", class: "btn btn-xs btn-primary follow" %>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
  <div class="tag-info">
    <% if gym?(user) %>
      <span class="glyphicon glyphicon-grain"></span> <%= user.focus %></br>
      <% if user.location %>
        <span class="glyphicon glyphicon-map-marker"></span> <%= user.location %></br>
      <% end %>
    <% end %>
    Top Tags: <% tag_cloud user.posts.tag_counts.limit(3), %w[s m l] do |tag, css_class|%>
      <%= link_to tag.name, "/users/#{user.id}/tags/#{tag.name}", class: css_class %>
    <% end %></br>
    <%= user.email if current_user.admin? %>
  </div>

</li>