<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <h3>Profile Information</h3>

      <% if gym?(current_user) %>
      
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label :focus %>
        <%= f.select :focus, [
        	['General Purpose','General Purpose'],
        	['Aerobic','Aerobic'],
        	['Athletic Club','Athletic Club'],
        	['Boot Camp','Boot Camp'],
        	['Crossfit','Crossfit'],
        	['Dance','Dance'],
        	['Gymnastics','Gymnastics'],
        	['Martial Arts','Martial Arts'],
        	['Meal Service','Meal Service'],
        	['Olympic Weightlifting','Olympic Weightlifting'],
        	['Personal Training','Personal Training'],
        	['Pilates','Pilates'],
        	['Spinning','Spinning'],
        	['Weight Loss','Weight Loss'],
        	['Yoga','Yoga'],
        	['Other','Other']
        	], class: 'form-control' %>
        	
        <%= f.label :picture %>
        <%= f.file_field :picture %>
        	
        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control' %>
        
        <%= f.label :about %>
        <%= f.text_area :about, size: "24x6", class: 'form-control' %>
        
        <%= f.label :hours %>
        <%= f.text_area :hours, size: "24x6", class: 'form-control' %>
        
        <%= f.label :pricing %>
        <%= f.text_area :pricing, size: "24x6", class: 'form-control' %>
        
        <%= f.label :equipment %>
        <%= f.text_area :equipment, size: "24x6", class: 'form-control' %>
        
        <%= f.label :classes %>
        <%= f.text_area :classes, size: "24x6", class: 'form-control' %>
        
        <h3>Account Information</h3>
        
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <% else %>
      
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label :picture %>
        <%= f.file_field :picture %>
  
        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control' %>
  
        <%= f.label :about %>
        <%= f.text_area :about, size: "24x6", class: 'form-control' %>
  
        <%= f.label :height %> in inches
        <%= f.number_field :height, in: 48..90, step: 1, class: 'form-control' %> 
  
        <%= f.label :weight %> in pounds
        <%= f.number_field :weight, in: 100..400, step: 1, class: 'form-control' %> 
        
        <%= f.label :goals %>
        <%= f.text_area :goals, size: "24x3", class: 'form-control' %>     
        
        <%= f.label "Personal Records" %>
        <%= f.text_area :prs, size: "24x3", class: 'form-control' %>      
        
        <%= f.label "Qualifications and Certifications" %>
        <%= f.text_area :quals, size: "24x3", class: 'form-control' %>      
        
        <h3>Account Information</h3>
        
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label :password %> 
          <span class="has-tooltip" data-toggle="tooltip" title="Must contain: at least 8 characters, 
                                                          at least 1 uppercase, 1 lowercase, and 1 number">
            <span class="glyphicon glyphicon-info-sign"></span>
          </span>
        <%= f.password_field :password, class: 'form-control'%>
  
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
  
        <%= f.submit "Save changes", class: "btn btn-primary" %>
      
      <% end %>
    <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
  
  $('.has-tooltip').tooltip();
  });
</script>