<% provide(:title, 'All gyms') %>
<div class="row">
	<div class="col-md-1">
  	<%= render 'layouts/header' %>
	</div>
	
	<aside class="col-md-3 panel panel-default">
		<section class="search">
			<%= render 'search_gym' %>
		</section>
	</aside>
	
	<div class="col-md-5">
    <div class="bar">
      <h1>Gyms (<%= @users.count %>)</h1>
    </div>
		
		<ul class="users">
		  <%= render @users %>
		</ul>
		
		<%= will_paginate %>
		
	</div>
</div>