<% provide(:title, @user.name) %>
<div class="row">
  
  <aside class="col-md-3">
    <section class="user_info">
      <span><%= picture_for(@user, size: 150) %></span>
      <h1><%= @user.name %></h1>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section></br>
      <% if @user.location? %><span class="glyphicon glyphicon-map-marker"></span> <%= @user.location %></br><% end %>
      <% if @user.focus? %><span class="glyphicon glyphicon-grain"></span> <b><%= @user.focus %></b></br></br><% end %>
      <% if @user.about? %><b>About:</b> <%= @user.about %></br><% end %>
      
      <!-- Users -->
      <% if @user.height? %><b>Height:</b> <%= @user.height %> in.</br><% end %>
      <% if @user.weight? %><b>Weight:</b> <%= @user.weight %> lbs.</br><% end %>
      <% if @user.goals? %><b>Goals:</b> <%= @user.goals %></br><% end %>
      <% if @user.prs? %><b>Personal Records:</b> <%= @user.prs %></br><% end %>
      <% if @user.quals? %><b>Qualifications:</b> <%= @user.quals %></br><% end %>
      
      <!-- Gyms -->

      <% if @user.hours? %><b>Hours:</b> <%= @user.hours %></br><% end %>
      <% if @user.pricing? %><b>Pricing:</b> <%= @user.pricing %></br><% end %>
      <% if @user.equipment? %><b>Equipment:</b> <%= @user.equipment %></br><% end %>
      <% if @user.classes? %><b>Classes:</b> <%= @user.classes %></br><% end %>
      
      <% if current_user?(@user) %>
        <%= link_to "Edit Profile", edit_user_path(current_user) %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-6">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand"><% if current_user?(@user) %>My <% end %>Log 
            (<%= @user.posts.count %>)</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li id="post-toggle" class="active"><a>Posts</a></li>
            <li id="workout-toggle" class="active"><a>Workouts</a></li> 
            <li id="meal-toggle" class="active"><a>Meals</a></li> 
            <li id="all-toggle" class="active"><a>All</a></li>
          </ul>
        </div>
      </nav>
      
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <% end %>
  </div>
  
  <div class="col-md-1">
    <div id="tag_cloud">
      <h4><%= @user.name %>'s Tags:</h4>
      <% tag_cloud @posts.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, "/users/#{@user.id}/tags/#{tag.name}", class: css_class %>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){

  $("#all-toggle").click(function(){
      $(".post").show();
      $(".workout").show();
      $(".meal").show();
      $("#post-toggle, #workout-toggle, #meal-toggle, #all-toggle").addClass("active");
  });

  $("#post-toggle").click(function(){
      $(".post").toggle();
      $("#post-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
  $("#workout-toggle").click(function(){
      $(".workout").toggle();
      $("#workout-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
  $("#meal-toggle").click(function(){
      $(".meal").toggle();
      $("#meal-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
});
</script>