<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <%  if @user.picture? %>
        <%= image_tag @user.picture.url %></br>
      <% end %>
      <% if @user.location? %> Location: <%= @user.location %></br><% end %>
      <% if @user.about? %> About: <%= @user.about %></br><% end %>
      <% if @user.height? %> Height: <%= @user.height %> in.</br><% end %>
      <% if @user.weight? %> Weight: <%= @user.weight %> lbs.</br><% end %>
      <% if @user.goals? %> Goals: <%= @user.goals %></br><% end %>
      <% if @user.prs? %> Personal Records: <%= @user.prs %></br><% end %>
      <% if @user.quals? %> Qualifications: <%= @user.quals %></br><% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>