<% provide(:title, @user.name) %>
<div class="row">
  
  <div class="col-md-1">
    <%= render 'layouts/header' %>
  </div>
  
  <aside class="col-md-3 panel panel-default">
    <section class="user_info">
      <span><%= profile_picture_for(@user, size: :profile) %></span>
      <h1><%= @user.name %></h1>
      <div class="stats">
        <%= render 'shared/stats' %>
      </div>
      <% if current_user?(@user) %>
        <%= link_to "Edit Profile", edit_user_path(current_user), :class => 'btn btn-default btn-md' %>
      <% end %>
      <section class="details">
        <% if @user.location? %>
          <div class="flexbox">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span class="loctxt"><%= @user.location %></span>
          </div>
        <% end %>  
        
        <% if @user.focus? %><span class="glyphicon glyphicon-grain"></span> <b><%= @user.focus %></b></br></br><% end %>
        <% if @user.about? %><b>About:</b> <%= simple_format(@user.about) %></br><% end %>
        
        <!-- Users -->
        <% if @user.height? %><b>Height:</b> <%= @user.height %> in.</br><% end %>
        <% if @user.weight? %><b>Weight:</b> <%= @user.weight %> lbs.</br><% end %>
        <% if @user.goals? %><b>Goals:</b> <%= simple_format(@user.goals) %></br><% end %>
        <% if @user.prs? %><b>Personal Records:</b> <%= simple_format(@user.prs) %></br><% end %>
        <% if @user.quals? %><b>Qualifications:</b> <%= simple_format(@user.quals) %></br><% end %>
        
        <!-- Gyms -->
  
        <% if @user.hours? %><b>Hours:</b> <%= simple_format(@user.hours) %></br><% end %>
        <% if @user.pricing? %><b>Pricing:</b> <%= simple_format(@user.pricing) %></br><% end %>
        <% if @user.equipment? %><b>Equipment:</b> <%= simple_format(@user.equipment) %></br><% end %>
        <% if @user.classes? %><b>Classes:</b> <%= simple_format(@user.classes) %></br><% end %>
        
        <% if logged_in? %>
          <% if current_user.admin? && !current_user?(@user) %>
            <%= link_to "delete", @user, method: :delete,
                                        data: { confirm: "You sure?" }, 
                                        :class => "btn btn-danger btn-xs"  %>
          <% end %>
        <% end %>
      </section>
    </section>
  </aside>
  <div class="col-md-5">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>

      <div class="bar">
        
        <h1>
          <% if current_user?(@user) %>My <% end %>Log 
          <span class="badge"><%= @user.posts.count %></span>
        </h1>
        
      </div>
      
      <ol class="posts">
        <%= render @posts %>
      </ol>

      <%= will_paginate @posts %>
      
    <% end %>
  </div>
  
  <div class="col-md-3 panel panel-default">
    <div id="tag_cloud">
      <h4><%= @user.name %>'s Tags:</h4>
      <% tag_cloud @posts.tag_counts.limit(15), %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, "/users/#{@user.id}/tags/#{tag.name}", class: css_class %>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){

  $("#all-toggle").click(function(){
      $(".post").show();
      $(".workout").show();
      $(".meal").show();
      $("#post-toggle, #workout-toggle, #meal-toggle, #all-toggle").addClass("active");
  });

  $("#post-toggle").click(function(){
      $(".post").toggle();
      $("#post-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
  $("#workout-toggle").click(function(){
      $(".workout").toggle();
      $("#workout-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
  $("#meal-toggle").click(function(){
      $(".meal").toggle();
      $("#meal-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
});
</script>