<% provide(:title, @title) %>
<div class="row">
  
  <div class="col-md-1">
    <%= render 'layouts/header' %>
  </div>
  
  <aside class="col-md-3 panel panel-default">
    <section class="user_info">
      <span><%= profile_picture_for(current_user, size: :profile) %></span>
      <h1><%= @user.name %></h1>
      <div class="stats">
        <%= render 'shared/stats' %>
      </div>
        <span><%= link_to "view my profile", @user, :class => 'btn btn-default btn-md' %></span>
      <span><b>Posts:</b> <%= @user.posts.count %></span>
    </section>

  </aside>
  
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>