<% provide(:title, @user.name) %>
<% provide(:page_desc, @user.about) %>

<div class="container">
	<div class="row">
  
  <aside class="col-md-3 panel panel-default">
    
    <section class="user_info">
      <span><%= profile_picture_for(@user, size: :profile) %></span>
      <h1><%= @user.name %></h1>
      <div class="stats">
        <%= render 'shared/stats' %>
      </div>
      <div class="mobile-follow">
        <%= render 'follow_form' if logged_in? %>
      </div>
      <% if current_user?(@user) %>
        <%= link_to "Edit Profile", edit_user_path(current_user), :class => 'btn btn-default btn-md' %>
      <% end %>
      <div class="details">
        <% if @user.focus? %>
          <div class="flexbox">
            <i class="fa fa-institution"></i>
            <b><%= @user.focus %></b>
          </div>
        <% end %>        
        
        <% if @user.location? %>
          <div class="flexbox">
            <i class="fa fa-map-marker"></i>
            <span class="loctxt"><b><%= @user.location %></b></span>
          </div>
        <% end %>  
        
        <% if @user.email_option? %>
          <div class="flexbox">
            <i class="fa fa-envelope-o"></i>
            <span class="loctxt"><b><%= @user.email %></b></span>
          </div>
        <% end %>   
        <% if @user.about? %><b>About:</b> <%= sanitize simple_format(@user.about), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %> </br><% end %>
        
        <!-- Users -->
        <% if @user.height? %><b>Height:</b> <%= @user.height %> in.</br><% end %>
        <% if @user.weight? %><b>Weight:</b> <%= @user.weight %> lbs.</br><% end %>
        <% if @user.goals? %><b>Goals:</b> <%= sanitize simple_format(@user.goals), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %> </br><% end %>
        <% if @user.prs? %><b>Personal Records:</b> <%= sanitize simple_format(@user.prs), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %></br><% end %>
        <% if @user.quals? %><b>Qualifications:</b> <%= sanitize simple_format(@user.quals), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %> </br><% end %>
        
        <!-- Gyms -->
  
        <% if @user.hours? %><b>Hours:</b> <%= sanitize simple_format(@user.hours), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %></br><% end %>
        <% if @user.pricing? %><b>Pricing:</b> <%= sanitize simple_format(@user.pricing), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %></br><% end %>
        <% if @user.equipment? %><b>Equipment:</b> <%= sanitize simple_format(@user.equipment), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %></br><% end %>
        <% if @user.classes? %><b>Classes:</b> <%= sanitize simple_format(@user.classes), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %></br><% end %>
        
        <% if logged_in? %>
          <% if current_user.admin? && !current_user?(@user) %>
            <%= link_to "delete", @user, method: :delete,
                                        data: { confirm: "You sure?" }, 
                                        :class => "btn btn-danger btn-xs"  %>
          <% end %>
        <% end %>
      </div>

    </section>
      <span class="share-buttons">
        <%= social_share_button_tag(@user.name) %>
      </span>
  </aside>
  
  <div class="col-md-6">
    <span class="desktop-follow">
      <%= render 'follow_form' if logged_in? %>
    </span>
    
      <div class="title-bar bar">
        <h1>
          <% if current_user?(@user) %>My <% end %>Log
        </h1>  
        <%= link_to "Show Bullpen", root_path, 
            :class => 'btn btn-default btn-lg all_toggle' %>
        
      </div>
      
      <% if @user.posts.any? %>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      
      <% else %> <!-- If user hasn't posted anything yet -->
      
        <div class="startinfo panel panel-default">
          <% if current_user?(@user) %>
            <div class="center">
              <h3>Hey, you haven't posted anything yet<br>Here are a few suggestions:</h3>
            </div>
  
            <ul>
              <li>What's the one workout you do when you only have 20 minutes at the gym?</li>
              <li>What's your go-to meal to maximize gains?</li> 
              <li>Or, how about this: Just post a picture of yourself at the start of your fitness journey</li>
            </ul>
      
          <% else %>
          
            <div class="center">
              <h3>This user hasn't posted anything yet...</br>But here are some who have:</h3>
            </div>
  <!--
        		<ul class="users">
        		  <%= #render @suggestions %>
        		</ul>
      -->      
          <% end %>
          
        </div>
      
      <% end %>
      
  </div>
  
  <div class="col-md-3 panel panel-default ">
      <div id="tag_cloud">
        <h4><%= @user.name %>'s Tags:</h4>
        <% tag_cloud @posts.tag_counts.limit(15), %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name.downcase, "/users/#{@user.id}/tags/#{tag.name}", class: css_class %>
        <% end %>
      </div>

  </div>
</div>
</div>

<script>
$(document).ready(function(){

  $("#all-toggle").click(function(){
      $(".post").show();
      $(".workout").show();
      $(".meal").show();
      $("#post-toggle, #workout-toggle, #meal-toggle, #all-toggle").addClass("active");
  });

  $("#post-toggle").click(function(){
      $(".post").toggle();
      $("#post-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
  $("#workout-toggle").click(function(){
      $(".workout").toggle();
      $("#workout-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
  $("#meal-toggle").click(function(){
      $(".meal").toggle();
      $("#meal-toggle").toggleClass("active");
      $("#all-toggle").removeClass("active");
  });
  
});
</script>