<li class="activity">
	<%= link_to activity.owner.name, activity.owner if activity.owner %>
	updated 
	<% if activity.trackable %>
		<% if activity.trackable.title? %>
			<%= link_to activity.trackable.title, activity.trackable %> <span class="admin"><%= time_tag activity.trackable.created_at %></span>
		<% else %>
			<%= link_to activity.trackable.id, activity.trackable %> <span class="admin"><%= time_tag activity.trackable.created_at %></span>
		<% end %>
	<% else %>
		a post that has since been removed
	<% end %>
</li>