<%= search_form_for @search, url: search_posts_path, html: { method: :post } do |f| %>
	<div class="field">
		<h3>Search Posts</h3>
		<fieldset>
			<div class="radio">
				<%= f.label :post_type_eq, "Posts" %>
				<%= f.radio_button :post_type_eq, "post" %>
				<%= f.label :post_type_eq, "Workouts" %>
				<%= f.radio_button :post_type_eq, "workout" %>
				<%= f.label :post_type_eq, "Meals" %>
				<%= f.radio_button :post_type_eq, "meal" %>
			</div>			
		</fieldset>
		
		<%= f.label :content_cont %>
		<%= f.search_field :content_cont %>
		
		<div class="workout">
			<%= f.label :equipment_cont %>
			<%= f.search_field :equipment_cont %>
			<%= f.label "Muscules used contain" %>
			<%= f.search_field :body_parts_cont %>
		</div>
		
		<div class="meal">
			<%= f.label "Ingredients contain" %>
			<%= f.search_field :ingredients_cont %>
		</div>
		
	</div>
	<div class="actions"><%= f.submit "Search", class: "btn btn-primary" %></div>
	<%= link_to "Clear Search/Tags", posts_path, :class => 'btn btn-default' %>
<% end %>