<%= search_form_for @q do |f| %>
	<div class="field">
		<h3>Search Posts</h3>
		<fieldset>
			<div class="radio">
				<%= f.label :post_type_eq, "Posts" %>
				<%= f.radio_button :post_type_eq, "post" %>
				<%= f.label :post_type_eq, "Workouts" %>
				<%= f.radio_button :post_type_eq, "workout" %>
				<%= f.label :post_type_eq, "Meals" %>
				<%= f.radio_button :post_type_eq, "meal" %>
			</div>			
		</fieldset>
		
		<div class="post_searches">
			<%= f.label "Title" %>
			<%= f.search_field :title_cont %>

			<%= f.label "Content" %>
			<%= f.search_field :content_cont %>
		
			<%= f.label "Equipment" %>
			<%= f.search_field :equipment_cont %>
		
			<%= f.label "Body Parts" %>
			<%= f.search_field :body_parts_cont %>
		
			<%= f.label "Ingredients" %>
			<%= f.search_field :ingredients_cont %>
		</div>
		
	</div>
	<div class="actions"><%= f.submit "Search", class: "btn btn-primary" %></div>
	<%= link_to "Clear Search/Tags", posts_path, :class => 'btn btn-default' %>
<% end %>