<%= search_form_for @search do |f| %>
	<div class="field">
		<%= f.label :name_cont, "Search for Gyms" %><%= link_to "Clear", gyms_path, class: "btn" %>
		<%= f.text_field :name_cont, placehodler: "Name contains" %>
	</div>
	<div class="actions"><%= f.submit "Search", class: "btn" %></div>
<% end %>