<%= form_for(@post, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <div class="workout-form">
      <%= f.hidden_field :post_type, :value => "workout" %>
      <%= f.text_field :title, placeholder: "eg. Zyzz no.1" %>
      <%= f.text_field :body_parts, placeholder: "eg. chest/biceps" %>
      <%= f.number_field(:duration, in:0..240, placeholder: "eg. 15") %>
      <%= f.text_field :equipment, placeholder: "eg. dumbbells, adjustable bench, EZ curl bar" %>
      <%= f.text_area :content, placeholder: "eg. 4 sets of Incline Dumbbell Press, 8-10 reps..." %>
      <%= f.text_field :tag_list, placeholder: "tags: eg. lifting, getbig" %>
    </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>