<%= form_for(@post, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <div class="post-form">
      <%= f.hidden_field :post_type, :value => "post" %>
      <%= f.label :content, "Post:", :class => "required" %>
            <i class="fa fa-code has-tooltip" data-toggle="tooltip" 
            title="GymBull allows the following HTML tags: strong em a code pre h2 h3 p blockquote ul ol li br"></i>
      <%= f.text_area :content, placeholder: "Start typin'...", :required => true, class: "form-control" %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-camera-retro fa-fw"></i></span>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "form-control" %>  
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-youtube-play fa-fw"></i></span>
        <%= f.text_field :youtube_url, placeholder: "Insert YouTube link", class: "form-control" %>  
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-tags fa-fw"></i></span>
        <%= f.text_field :tag_list, placeholder: "lifting, getbig", class: "form-control" %>  
      </div>
    </div>
<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>