<%= form_for(@post, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <div class="post-form">
      <%= f.hidden_field :post_type, :value => "post" %>
      <%= f.text_area :content, placeholder: "Start typin'..." %>
      <span class="glyphicon glyphicon-tags"></span>  
      <%= f.text_field :tag_list, placeholder: "lifting, getbig" %>
      <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
    </div>
<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
