<%= form_for(@post, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <div class="meal-form">
      <%= f.hidden_field :post_type, :value => "meal" %>
      <%= f.label :title, "Meal name:" %>
      <%= f.text_field :title, placeholder: "Morning meal 3" %>
      <%= f.label :calories, "Total kcal:" %>
      <%= f.number_field :calories, placeholder: "936 calories" %>
      <%= f.label :protein, "Total protein:" %>
      <%= f.number_field :protein, placeholder: "85g" %>
      <%= f.label :carbs, "Total carbohydrates:" %>
      <%= f.number_field :carbs, placeholder: "55g" %>
      <%= f.label :fat, "Total fat:" %>
      <%= f.number_field :fat, placeholder: "40g" %>
      <%= f.label :ingredients, "Ingredients used:" %>
      <%= f.text_field :ingredients, placeholder: "chicken breast, broccoli" %>
      <%= f.label :content, "The Recipe:", :class => "required" %>
      <%= f.text_area :content, placeholder: "eg. boil checken, then steam brocolli...", 
       :required => true %>
      <span class="glyphicon glyphicon-tags"></span>
      <%= f.text_field :tag_list, placeholder: "lifting, getbig" %>
    </div>
<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>