<%= form_for(@post, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <div class="workout-form">
      <%= f.hidden_field :post_type, :value => "workout" %>
      <%= f.label :title, "Workout name:" %>
      <%= f.text_field :title, placeholder: "Zyzz no.1", class: "form-control" %>
      <%= f.label :body_parts, "Muscules used:" %>
      <%= f.text_field :body_parts, placeholder: "chest/biceps", class: "form-control" %>
      <%= f.label :duration, "How ling it takes (min):" %>
      <%= f.number_field(:duration, in:0..240, placeholder: "eg. 15", class: "form-control") %>
      <%= f.label :equipment, "Equipment used:" %>
      <%= f.text_field :equipment, placeholder: "dumbbells, adjustable bench", class: "form-control" %>
      <%= f.label :content, "The Workout:", :class => "required" %>
      <i class="fa fa-code has-tooltip" data-toggle="tooltip" 
            title="GymBull allows the following HTML tags: strong em a code pre h2 h3 p blockquote ul ol li br"></i>
      <%= f.text_area :content, placeholder: "eg. 4 sets of Incline Dumbbell Press, 8-10 reps...", 
       :required => true, class: "form-control" %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-camera-retro fa-fw"></i></span>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "form-control" %>  
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-youtube-play fa-fw"></i></span>
        <%= f.text_field :youtube_url, placeholder: "Insert YouTube link", class: "form-control" %>  
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-tags fa-fw"></i></span>
        <%= f.text_field :tag_list, placeholder: "lifting, getbig", class: "form-control" %>  
      </div>
    </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>