<li id="post-<%= post.id %>" class="<%= post.post_type %>">
  <span class="user">
    <%= tiny_picture_for(post.user, size: :tiny) %>
    <%= link_to post.user.name, post.user %></span>
    
  <div class="content">
    <% if post?(post) %>
      <span class="post-id"><b><%= post.id %> - <%= post.post_type.titlecase()%></b>
        <% if post.picture? %>
          <span class="glyphicon glyphicon-picture"></span>
        <% end %>
      </span>
      <div class="inner-content">
        <%= simple_format(post.content) %>
      </div>
      <%= image_tag post.picture.url(:post) if post.picture? %>
      <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

    <% elsif workout?(post) %>
    
      <% if post.title? %>
        <b><%= post.title %><span class="post-id"> - <%= post.post_type.titlecase()%></span></b></br>
      <% else %>
        <span class="post-id"><b><%= post.id %> - <%= post.post_type.titlecase()%></b></span>
      <% end %>
      
      <span class="full-option">
        <% if post.body_parts? %> Body Parts: <%= post.body_parts %></br><% end %>
        <% if post.duration? %> Length: <%= post.duration %> minutes</br><% end %>
        <% if post.equipment? %> Equipment: <%= post.equipment %></br><% end %>
      </span>
      <div class="inner-content">
        <span class="full-option"><b>Workout:</b></br></span><%= simple_format(post.content) %>
      </div>
        <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

    
    <% elsif meal?(post) %>
      
      <% if post.title? %>
        <b><%= post.title %><span class="post-id"> - <%= post.post_type.titlecase()%></span></b></br>
      <% else %>
        <span class="post-id"><b><%= post.id %> - <%= post.post_type.titlecase() %></b></span>
      <% end %>
      
      <span class="full-option">
        <% if post.calories? %> Calories: <%= post.calories %> kcal</br><% end %>
        <% if post.protein? || post.fat? || post.carbs? %>
          <div>Macronutrients:</br> 
          <% if post.protein? %>Protein: <%= post.protein %> g</br><% end %>
          <% if post.fat? %>Fat: <%= post.fat %> g</br><% end %>
          <% if post.carbs? %>Carbs: <%= post.carbs %> g<% end %>
          </div> <% end %>
        <% if post.ingredients? %>Ingredients: <%= post.ingredients %></br><% end %>
      </span>
      <div class="inner-content">
        <span class="full-option"><b>Workout:</b></br></span><%= simple_format(post.content) %>
      </div>
      <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    <% end %>
  </div>
  
  <div class="row">
    <span class="timestamp">
      
  <!-- should probably be a partial; but didn't work when refactored out -->
      <% if logged_in? %>
        <% unless current_user.favorite_posts.exists?(id: post.id) %>
          <%= link_to favorite_posts_path(post_id: post), 
                          method: :post,
                          :id => 'mire',
                          :remote => true do %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
        <% else %>
          <%= link_to favorite_post_path(post), 
                          method: :delete,
                          :id => 'unmire',
                          :remote => true do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
        <% end %> |
      <% end %>
      
      <%= link_to post_path(post) do %>
        <span class="glyphicon glyphicon-fullscreen"</span>
      <% end %> |
      <span class="full-option">
        Posted <%= time_ago_in_words(post.created_at) %> ago
        <% if current_user?(post.user) %>
          <%= link_to "delete", post, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <% end %>
      </span>
    </span>
  </div>
</li>

<script>
$(document).ready(function(){    
    
    $(".mini-posts li#post-<%= post.id %>").click(function(){
    $("#post-<%= post.id %> .content div").toggleClass("inner-content");
  });
  
});
</script>