<li id="post-<%= post.id %>" class="<%= post.post_type %>">
  
    <span class="user">
      <%= post.postable_type %>
      <%= post.postable_id %>
    </span>
  
  
  <span class="content">
    
    <% if post?(post) %>
      <%= simple_format(post.content) %>
      <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      <%= image_tag post.picture.url if post.picture? %>
    
    <% elsif workout?(post) %>
      <% if post.title? %><b><%= post.title %></b></br><% end %>
      <% if post.body_parts? %> Body Parts: <%= post.body_parts %></br><% end %>
      <% if post.duration? %> Length: <%= post.duration %> minutes</br><% end %>
      <% if post.equipment? %> Equipment: <%= post.equipment %></br><% end %>
      <div>
        <b>Workout:</b></br><%= simple_format(post.content) %>
        <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </div>
    
    <% elsif meal?(post) %>
      <% if post.title? %><b><%= post.title %></b></br><% end %>
      <% if post.calories? %> Calories: <%= post.calories %> kcal</br><% end %>
      <% if post.protein? || post.fat? || post.carbs? %>
        <div>Macronutrients:</br> 
        <% if post.protein? %>Protein: <%= post.protein %> g</br><% end %>
        <% if post.fat? %>Fat: <%= post.fat %> g</br><% end %>
        <% if post.carbs? %>Carbs: <%= post.carbs %> g<% end %>
        </div> <% end %>
      <% if post.ingredients? %>Ingredients: <%= post.ingredients %></br><% end %>
     <div>
        <b>Recipe:</b></br><%= simple_format(post.content) %>
        <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </div>
    <% end %>
  
    
  </span>
  <span class="timestamp">
    <%= post.id %>
      <% if (post.postable_type == "User") %>
        <% if (current_user.id == post.postable_id)%>
          <%= link_to "delete", "/#{@user.id}/posts/#{post.id}", method: :delete %> 
        <% end %>
      <% end %>
      <% if (post.postable_type == "Gym") %>
        <% if ((@gym.id == post.postable_id) && (@gym.gym_admin == current_user.id)) %>
          <%= link_to "delete", "/gyms/gyms/#{@gym.id}/posts/#{post.id}", method: :delete %> 
        <% end %>
      <% end %>
  </span>
</li>