<li id="post-<%= post.id %>" class="<%= post.post_type %>">
  <span class="user">
    <%= tiny_picture_for(post.user, size: :tiny) %>
    <%= link_to post.user.name, post.user %></span>
  <span class="content">
    
    <% if post?(post) %>
      <%= simple_format(post.content) %>
      <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      <%= image_tag post.picture.url(:post) if post.picture? %>
    
    <% elsif workout?(post) %>
      <% if post.title? %><b><%= post.title %></b></br><% end %>
      <% if post.body_parts? %> Body Parts: <%= post.body_parts %></br><% end %>
      <% if post.duration? %> Length: <%= post.duration %> minutes</br><% end %>
      <% if post.equipment? %> Equipment: <%= post.equipment %></br><% end %>
      <div>
        <b>Workout:</b></br><%= simple_format(post.content) %>
        <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </div>
    
    <% elsif meal?(post) %>
      <% if post.title? %><b><%= post.title %></b></br><% end %>
      <% if post.calories? %> Calories: <%= post.calories %> kcal</br><% end %>
      <% if post.protein? || post.fat? || post.carbs? %>
        <div>Macronutrients:</br> 
        <% if post.protein? %>Protein: <%= post.protein %> g</br><% end %>
        <% if post.fat? %>Fat: <%= post.fat %> g</br><% end %>
        <% if post.carbs? %>Carbs: <%= post.carbs %> g<% end %>
        </div> <% end %>
      <% if post.ingredients? %>Ingredients: <%= post.ingredients %></br><% end %>
     <div>
        <b>Recipe:</b></br><%= simple_format(post.content) %>
        <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </div>
    <% end %>
  </span>
  
  <div  class="row">
    <span class="timestamp">
    <% if logged_in? %>
      <% unless current_user.favorite_posts.exists?(@post) %>
        <%= link_to favorite_posts_path(@post), method: :post do %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      <% else %>
        <%= link_to favorite_post_path(@post), method: :delete do %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
      <% end %>
    <% end %> | 
      Posted <%= time_ago_in_words(post.created_at) %> ago
      <% if current_user?(post.user) %>
        <%= link_to "delete", post, method: :delete,
                                         data: { confirm: "You sure?" } %>
      <% end %>
      | <%= post.id %> |
    </span>
  </div>
</li>