<li id="post-<%= post.id %>" class="<%= post.post_type %>">
  <span class="user">
    <%= tiny_picture_for(post.user, size: :tiny) %>
    <%= link_to post.user.name, post.user %></span>
 <!-- everything "full option" won't be shown in the miniposts -->   
  <div class="content">
    <% if post?(post) %>
      <span class="post-id"><b><%= post.id %> - <%= post.post_type.titlecase()%></b>
      </span>
      <div class="inner-content">
          <%= simple_format(post.content) %>

        <span class="full-option">
          <%= image_tag post.picture.url(:post) if post.picture? %>
        </span>
        <span class="mini-option">
          <%= image_tag post.picture.url(:mini) if post.picture? %>
        </span>
      </div>
      <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

    <% elsif workout?(post) %>
    
      <% if post.title? %>
        <b><%= post.title %><span class="post-id"> - <%= post.post_type.titlecase()%></span></b></br>
      <% else %>
        <span class="post-id"><b><%= post.id %> - <%= post.post_type.titlecase()%></b></span>
      <% end %>
      
      <div class="full-option">
        <% if post.body_parts? %> Body Parts: <%= post.body_parts %></br><% end %>
        <% if post.duration? %> Length: <%= post.duration %> minutes</br><% end %>
        <% if post.equipment? %> Equipment: <%= post.equipment %></br><% end %>
      </div>
      <div class="inner-content">
        <span class="full-option post_type"><b>Workout:</b></br></span><%= simple_format(post.content) %>
      </div>
        <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

    
    <% elsif meal?(post) %>
      
      <% if post.title? %>
        <b><%= post.title %><span class="post-id"> - <%= post.post_type.titlecase()%></span></b></br>
      <% else %>
        <span class="post-id"><b><%= post.id %> - <%= post.post_type.titlecase() %></b></span>
      <% end %>
      
      <div class="full-option">
        <% if post.calories? %> Calories: <%= post.calories %> kcal</br><% end %>
        <% if post.protein? || post.fat? || post.carbs? %>
          <div>Macronutrients:</br> 
          <% if post.protein? %>Protein: <%= post.protein %> g</br><% end %>
          <% if post.fat? %>Fat: <%= post.fat %> g</br><% end %>
          <% if post.carbs? %>Carbs: <%= post.carbs %> g<% end %>
          </div> <% end %>
        <% if post.ingredients? %>Ingredients: <%= simple_format(post.ingredients) %></br><% end %>
      </div>
      <div class="inner-content">
        <span class="full-option post_type"><b>Recipe:</b></br></span><%= simple_format(post.content) %>
      </div>
      <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    <% end %>
  </div>
  
  <div class="row">
    <span class="timestamp">
      
<!-- should probably be a partial; but didn't work when refactored out -->
      <% if logged_in? %>
  <!-- this didn't fix the problem; it just patched the leak: still cannot
  mire a post from the return of a search-->
        <% if params[:q].blank? %>
          <% unless current_user.favorite_posts.exists?(id: post.id) %>
            <%= link_to favorite_posts_path(post_id: post), 
                            method: :post,
                            :id => 'mire',
                            :remote => true do %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          <% else %>
            <%= link_to favorite_post_path(post), 
                            method: :delete,
                            :id => 'unmire',
                            :remote => true do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          <% end %>
        <% else %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
  <!-- this is for the post if a user isn't logged in
  also helps to showcase features-->
      <% else %>
        <%= link_to sample_path do %>
            <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      <% end %> | <b><%= post.favorites.count %></b> |
      
      <%= link_to post_path(post) do %>
        <span class="glyphicon glyphicon-fullscreen"></span>
        | <span class="comment_count"><b><%= post.comments.count %> comments</b></span>
      <% end %>
      <span class="full-option">
      | Posted <%= time_ago_in_words(post.created_at) %> ago
        <% if current_user?(post.user) %>
          <%= link_to post, method: :delete, data: { confirm: "You sure?" } do %>
            <span class="glyphicon glyphicon-trash"</span>
          <% end %>
        <% end %>
      </span>
    </span>
  </div>
</li>

<!-- This script is just to expand the post tiles in the Mire controller -->
<script>
$(document).ready(function(){    
    
    $(".mini-posts li#post-<%= post.id %> .inner-content").click(function(){
    $("#post-<%= post.id %> .content div").toggleClass("inner-content");
  });
  
});
</script>