<li id="post-<%= post.id %>" class="<%= post.post_type %> top-li">
  <span class="user">
    <%= tiny_picture_for(post.user, size: :tiny) %>
    <span class="name"><%= link_to post.user.name, post.user %></span>
  <%= link_to post_path(post) do %>
    <i class="fa fa-arrows-alt"></i>
  <% end %>
  </span>
    
 <!-- everything "full option" won't be shown in the miniposts -->   
  <div class="content">
    <% if post?(post) %>
      <span class="post-id"><b><%= post.id %> - <%= post.post_type.titlecase()%></b>
      </span>
      <div class="inner-content">
          <%= sanitize simple_format(post.content), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %>
 <!-- pix % videos --> 
        <% if post.picture? || post.youtube_url? %>
          <span class="full-option">
            <%= image_tag post.picture.url(:post) if post.picture? %>
            <% if post.youtube_url? %>
              <iframe src="https://www.youtube.com/embed/<%= YouTubeAddy.extract_video_id(post.youtube_url) %>" 
              allowfullscreen="allowfullscreen"></iframe>
            <% end %>
          </span>
        <% end %>
<!--  --> 
        <span class="mini-option">
          <%= image_tag post.picture.url(:mini) if post.picture? %>
        </span>
      </div>
      <div class="taglist">
        <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </div>

    <% elsif workout?(post) %>
    
      <% if post.title? %>
        <span class="post-title"><b><%= post.title %></span><span class="post-id"> - <%= post.post_type.titlecase()%></span></b></br>
      <% else %>
        <span class="post-title"><b><%= post.created_at.to_date.to_formatted_s(:rfc822) %></span><span class="post-id"> - <%= post.post_type.titlecase()%></b></span>
      <% end %>
      
      <div class="full-option">
        <% if post.body_parts? %><b>Body Parts:</b> <%= post.body_parts %></br><% end %>
        <% if post.duration? %><b>Length:</b> <%= post.duration %> minutes</br><% end %>
        <% if post.equipment? %><b>Equipment:</b> <%= post.equipment %></br><% end %>
      </div>
      <div class="inner-content">
        <span class="full-option post_type"><b>Workout:</b></br></span>
        <%= sanitize simple_format(post.content), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %>
 <!-- pix % videos --> 
        <% if post.picture? || post.youtube_url? %>
          <span class="full-option">
            <%= image_tag post.picture.url(:post) if post.picture? %>
            <% if post.youtube_url? %>
              <iframe src="https://www.youtube.com/embed/<%= YouTubeAddy.extract_video_id(post.youtube_url) %>" 
              allowfullscreen="allowfullscreen"></iframe>
            <% end %>
          </span>
        <% end %>
<!--  --> 
      </div>
      <div class="taglist">
        <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </div>

    
    <% elsif meal?(post) %>
      
      <% if post.title? %>
        <span class="post-title"><b><%= post.title %></span><span class="post-id"> - <%= post.post_type.titlecase()%></span></b></br>
      <% else %>
        <span class="post-title"><b><%= post.id %></span><span class="post-id"> - <%= post.post_type.titlecase()%></b></span>
      <% end %>
      
      <div class="full-option">
        <% if post.calories? %><b>Calories:</b> <%= post.calories %> kcal</br><% end %>
        <% if post.protein? || post.fat? || post.carbs? %>
          <div>Macronutrients:</br> 
          <% if post.protein? %><b>Protein:</b> <%= post.protein %> g</br><% end %>
          <% if post.fat? %><b>Fat:</b> <%= post.fat %> g</br><% end %>
          <% if post.carbs? %><b>Carbs:</b> <%= post.carbs %> g<% end %>
          </div> <% end %>
        <% if post.ingredients? %><b>Ingredients:</b> <%= simple_format(post.ingredients) %></br><% end %>
      </div>
      <div class="inner-content">
        <span class="full-option post_type"><b>Recipe:</b></br></span>
        <%= sanitize simple_format(post.content), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %>
        
 <!-- pix % videos --> 
        <% if post.picture? || post.youtube_url? %>
          <span class="full-option">
            <%= image_tag post.picture.url(:post) if post.picture? %>
            <% if post.youtube_url? %>
              <iframe id="ytplayer" src="https://www.youtube.com/embed/<%= YouTubeAddy.extract_video_id(post.youtube_url) %>" 
              allowfullscreen="allowfullscreen"></iframe>
            <% end %>
          </span>
        <% end %>
<!--  --> 
      </div>
      <div class="taglist">
        <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <span class="timestamp">
      
<!-- should probably be a partial; but didn't work when refactored out -->
      <% if logged_in? %>

        <% unless current_user.favorite_posts.exists?(id: post.id) %>
          <%= link_to favorite_posts_path(post_id: post), 
                          method: :post,
                          :id => 'mire',
                          :remote => true do %>
            <i class="fa fa-star-o"></i>
          <% end %>
        <% else %>
          <%= link_to favorite_post_path(post), 
                          method: :delete,
                          :id => 'unmire',
                          :remote => true do %>
            <i class="fa fa-star"></i>
          <% end %>
        <% end %>

  <!-- this is for the post if a user isn't logged in
  also helps to showcase features-->
      <% else %>
        <%= link_to top_mires_path do %>
            <i class="fa fa-star-o"></i>
        <% end %>
      <% end %> | <b><%= post.favorites.count %></b> |
  <!-- -->    
      <%= link_to post_path(post) do %>
        <i class="fa fa-comments-o"></i> | <span class="comment_count"><b><%= post.comments.count %></b></span>
      <% end %>
      <span class="full-option">
        <% if current_user?(post.user) %>
          <%= link_to post, method: :delete, data: { confirm: "You sure?" },
                            :remote => true do %>
             | <i class="fa fa-trash-o"></i>
          <% end %>
        <% end %>
      </span>
    </span>
  </div>
</li>

<!-- This script is just to expand the post tiles in the Mire controller -->
<script>
$(document).ready(function(){    
    
    $(".mini-posts li#post-<%= post.id %> .inner-content").click(function(){
    $("#post-<%= post.id %> .content div").toggleClass("inner-content");
  });
  
});
</script>