<div class="row">
  
  <div class="col-md-1">
    <%= render 'layouts/header' %>
  </div>
  
  <% if logged_in? %>
    <aside class="col-md-3 panel panel-default">
  	  <%= render 'shared/search_posts' %>
    </aside>
    
    <div class="col-md-5">
      
      <div class="title-bar bar">
        
        <h1>All Posts</h1>
          <%= link_to "Show Bullpen", root_path, 
            :class => 'btn btn-default btn-lg all_toggle' %>
      </div>
        
      <% if @feed_items.any? %>
        <ol class="posts">
          <%= render @feed_items %>
        </ol>
        
        <%= will_paginate @feed_items %>
        
      <% else %>
        <div class="startinfo panel panel-default">
          <h3>Sorry, nothing matched you search...</h3>
        </div>
      <% end %>
      
    </div>
    	<div class="col-md-3 panel panel-default">
  	    <div id="tag_cloud">
  	      <h4>Trending Tags</h4>
  	      <% tag_cloud Post.tag_counts.most_used(25), %w[s m l] do |tag, css_class| %>
  	        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  	      <% end %></br>
  	    </div>
  	    <%= link_to "All Tags", alltags_path, class: "btn btn-default btn-sm" %>
  		</div>
  
    </div>
  <% else %>
  
    <div class="col-md-3 panel panel-default signin intro">
      <div class="center">
        <h1>GymBull</h1>
        <h3>A Culture of Fitness Without the Bullshit</h3>
        <%= image_tag "barbell-clipart.jpg" %>
      </div>
      <%= render 'sessions/login' %>
      <%= link_to "Jump to search", root_path(:anchor => "searchanchor"), :class => 'btn btn-default btn-md mobile' %>
    </div>
  
    <div class="col-md-5">
      
      <div class="title-bar bar">
        <h1>Search results</h1>
          <%= link_to "All posts", root_path, 
            :class => 'btn btn-default btn-lg all_toggle' %>
      </div>
        
      <% if @feed_items.any? %>
        <ol class="posts">
          <%= render @feed_items %>
        </ol>
        
        <%= will_paginate @feed_items %>
        
      <% else %>
        <div class="startinfo panel panel-default">
          <h3>Nothing else here, buddy,</br>
          try logging in to see more content</h3>
        </div>
      <% end %>
    </div>
  
    <div class="col-md-3 panel panel-default" id="searchanchor">
      <div id="tag_cloud">
        <h4>Trending Tags</h4>
        <% tag_cloud Post.tag_counts.most_used(25), %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %></br>
      </div>
      <%= link_to "All Tags", alltags_path, class: "btn btn-default btn-sm" %>
	    <%= render 'shared/search_posts' %>
    </div>
  
  <% end %>
</div>