<% provide(:title, @post.title || @post.id.to_s) %>
<% provide(:page_desc, "A " + @post.post_type + " by " + @post.user.name) %>

<div class="container">
	<div class="row">
  
  <aside class="col-md-3 panel panel-default">
    <div class="post-info">
		  <b>Author: </b><%= link_to @post.user.name, @post.user %>
        <% if logged_in? %>
          <% unless current_user.favorite_posts.exists?(id: @post.id) %>
            <%= link_to favorite_posts_path(post_id: @post), method: :post, remote: true, class: "btn btn-default btn-sm" do %>
              <i class="fa fa-star-o"></i>
            <% end %>
          <% else %>
            <%= link_to favorite_post_path(@post), method: :delete, remote: true, class: "btn btn-info btn-sm" do %>
              <i class="fa fa-star"></i>
            <% end %>
          <% end %>
        <% end %></br>
	    <% if @post.favorites.count > 0 %><b><%= pluralize(@post.favorites.count, "Mire") %></b></br><% end %>

	    <% if post?(@post) %>

	    <% elsif workout?(@post) %>
	      
	      <% if @post.body_parts? %><b>Body Parts: </b><%= @post.body_parts %></br><% end %>
	      <% if @post.duration? %><b>Length: </b><%= @post.duration %> minutes</br><% end %>
	      <% if @post.equipment? %><b>Equipment: </b><%= @post.equipment %></br><% end %>

	    <% elsif meal?(@post) %>

	      <% if @post.calories? %><b>Calories: </b><%= @post.calories %> kcal</br><% end %>
	      <% if @post.protein? || @post.fat? || @post.carbs? %>
	      <div><b>Macronutrients:</b></br> 
	        <% if @post.protein? %><b>Protein: </b><%= @post.protein %> g</br><% end %>
	        <% if @post.fat? %><b>Fat: </b><%= @post.fat %> g</br><% end %>
	        <% if @post.carbs? %><b>Carbs: </b><%= @post.carbs %> g<% end %>
	        </div> <% end %>
	      <% if @post.ingredients? %><b>Ingredients: </b><%= simple_format(@post.ingredients) %></br><% end %>
	    <% end %>
      <div class="stamp">

  
        Posted <%= time_ago_in_words(@post.created_at) %> ago
        
        <% if logged_in? %>
          <% if (current_user?(@post.user) || current_user.admin?) %>
          	<%= link_to  edit_post_path(@post), class: "btn btn-default btn-xs" do %>
          	  <i class="fa fa-edit"></i>
          	<% end %>
            <%= link_to @post, method: :delete,
                                data: { confirm: "You sure?" }, class: "btn btn-danger btn-xs" do %>
              <i class="fa fa-trash-o"></i>
          	<% end %>
          <% end %>
        <% end %>
      </div>  
        <div class="share-buttons">
          <%= social_share_button_tag(@post.title) %>
        </div>
    </div>
  </aside>

  <div class="col-md-6">
  	<div class="title-bar bar middle">
  	  <% if @post.title? %>
        <h1><%= @post.title %></br></h1>
      <% elsif workout?(@post) %>
        <h1><%= @post.created_at.to_date.to_formatted_s(:rfc822) %></br></h1>
      <% else %>
        <h1><%= @post.id %></br></h1>
      <% end %>
		</div>

  	<div class="content-detail">
		  
      <%= sanitize simple_format(@post.content), tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br),
                attributes: %w(href class) %>
                
      <div class="center">
      	<%= image_tag @post.picture.url(:post) if @post.picture? %>
        <% if @post.youtube_url? %>
          <iframe src="https://www.youtube.com/embed/<%= YouTubeAddy.extract_video_id(@post.youtube_url) %>" 
          allowfullscreen="allowfullscreen"></iframe>
        <% end %>
      </div>

  	  <% if logged_in? %>
  	    <ol class="comments">
          <%= render @comments %>
        </ol>
        <%= render 'comments/form' %>
      <% else %>
        
        <div class="alert alert-info">
          <b><%= link_to "Log in", login_path %></b> to see comments
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render 'sessions/login' %>
          </div>
          
        </div>
        
      <% end %>

	  </div>
	  

      
  </div>
  
  <div class="col-md-3 panel panel-default">
    <div id="tag_cloud">
      <h4>Tags:</h4>
      <% tag_cloud @post.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name.downcase, "/tags/#{tag.name}", class: css_class %>
      <% end %>
    </div>
  </div>
  
</div>
</div>