<div class="nav-side-menu">
  <%= image_tag "BullsHead2-300px.png", id: "logopic" %>
  <div class="brand">GYMBULL</div>
  <i class="glyphicon glyphicon-menu-hamburger toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
    <div class="menu-list">
      
      <ul id="menu-content" class="menu-content collapse out">
        <li>
          <%= link_to root_path do %>
            <i class="glyphicon glyphicon-home"></i> Home
          <% end %>
        </li>
        <li>
          <%= link_to about_path do %>
            <i class="glyphicon glyphicon-question-sign"></i> About
          <% end %>
        </li>
        <li>
          <%= link_to calculator_path do %>
            <i class="glyphicon glyphicon-th"></i> Calculator
          <% end %>
        </li>
        
        <% if logged_in? %>
        <li>
          <%= link_to url_for(controller: "users", action: "index_users") do %>
            <i class="glyphicon glyphicon-knight"></i> Users
          <% end %>
        </li>
        <li>
          <%= link_to url_for(controller: "users", action: "index_gyms") do %>
            <i class="glyphicon glyphicon-tower"></i> Gyms
          <% end %>
        </li>
        <li>
          <%= link_to favorite_posts_user_path(current_user) do %>
            <i class="glyphicon glyphicon-star"></i> Mires
          <% end %>
        </li>
        <li>
          <%= link_to current_user do %>
            <i class="glyphicon glyphicon-king"></i> My Profile
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: "delete" do %>
            <i class="glyphicon glyphicon-log-out"></i> Log out
          <% end %>
        </li>

        <% else %>
        <li>
          <%= link_to login_path do %>
            <i class="glyphicon glyphicon-log-in"></i> Log in
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  <small>FITNESS | STRENGTH | AESTHETICS</small>  
</div>

