<nav class="navbar navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag "BullsHead2-200px-inverse.png", id: "logopic" %>
      <% end %>
      <span class="logo">GymBull</span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <i class="fa fa-ellipsis-v fa-lg"></i>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home fa-lg"></i> Bullpen
            <% end %>
          </li>
          <li>
            <%= link_to post_path(@random) do %>
              <i class="fa fa-random fa-lg"></i> Random
            <% end %>
          </li>
          <li>
            <%= link_to favorite_posts_user_path(current_user) do %>
              <i class="fa fa-star fa-lg"></i> Mires
            <% end %>
          </li>
          <li>
            <%= link_to calculator_path do %>
              <i class="fa fa-calculator fa-lg"></i> Calculator
            <% end %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-chevron-down fa-lg"></i> More 
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to current_user do %>
                  <i class="fa fa-user-circle fa-lg"></i> My Profile
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                  <i class="fa fa-search fa-lg"></i> Find Users
                <% end %>
              </li>
              <% if current_user.admin? %>
                <li>
                  <%= link_to activities_path do %>
                    <i class="fa fa-th-list fa-lg"></i> Activity
                  <% end %>
                </li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to logout_path, method: "delete" do %>
                  <i class="fa fa-sign-out fa-lg"></i> Log out
                <% end %>
              </li>
            </ul>
          </li>

        <% else %>
          <li>
            <%= link_to posts_path do %>
              <i class="fa fa-home fa-lg"></i> Posts
            <% end %>
          </li>
          <li>
            <%= link_to post_path(@random) do %>
              <i class="fa fa-random fa-lg"></i> Random
            <% end %>
          </li>
          <li>
            <%= link_to calculator_path do %>
              <i class="fa fa-calculator fa-lg"></i> Calculator
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-sign-in fa-lg"></i> Log in
            <% end %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>