<nav class="navbar navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <%= image_tag "BullsHead2-200px-inverse.png", id: "logopic" %>
      <span>GymBull</span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
            <i class="glyphicon glyphicon-home"></i> Home
          <% end %>
        </li>
        <li>
          <%= link_to calculator_path do %>
            <i class="glyphicon glyphicon-th"></i> Calculator
          <% end %>
        </li>
        
        <% if logged_in? %>
          <li>
            <%= link_to favorite_posts_user_path(current_user) do %>
              <i class="glyphicon glyphicon-star"></i> Mires
            <% end %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to current_user do %>
                  <i class="glyphicon glyphicon-king"></i> My Profile
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_path(current_user) do %>
                  <i class="glyphicon glyphicon-pencil"></i> Edit
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to logout_path, method: "delete" do %>
                  <i class="glyphicon glyphicon-log-out"></i> Log out
                <% end %>
              </li>
            </ul>
          </li>

        <% else %>
          <li>
            <%= link_to login_path do %>
              <i class="glyphicon glyphicon-log-in"></i> Log in
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>