<div class="left">
  <div>
    <%= image_tag "bull-clip-art.png", id: "logopic" %>
    <%= link_to "Gymbull", root_path, id: "logo" %>
  </div>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <% if logged_in? %>
      <li><%= link_to "Users", url_for(controller: "users", action: "index_users") %></li>
      <li><%= link_to "Gyms", url_for(controller: "users", action: "index_gyms") %></li>
      <li><%= link_to "Mires", favorite_posts_user_path(current_user) %></li>
      
      <li id="dropdown">Account<b class="caret"></b></li>
        <div id="account">
          <li><%= link_to "My Profile", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        </div>
    
      <% else %>
      <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  <small>FITNESS | STRENGTH | AESTHETICS</small>  
</div>

<script>

$(document).ready(function(){
  
  $("#account").hide();
  
  $("#dropdown").click(function(){
    $("#account").toggle();
  });
  
});

</script>